---
import Main from '../layouts/Main.astro'
import Header from '../components/Header.astro'
---

<Main>
  <div
    class="bg-[#fff] dark:bg-[#2b3235]
           max-w-none
           text-base
           prose prose-neutral dark:prose-invert
           font-roboto"
  >
    <div>
      Página no encontrada (!) <a href="/" aria-label="inicio" class="no-underline"> Ves a la página principal</a>
    </div>
  </div>
</Main>
