---
import Head from '../components/Head.astro'
import Analytics from '../components/Analytics.astro'
import '../styles/panels.css'
import '../styles/colors.css'
import Header from '../components/Header.astro'
---

<html lang="es">
  <Head />
  <body class="font-meera">
    <Analytics />
    <div
      trans-150
      class="bg-[--bg] dark:bg-[--dark-bg]
       max-w-none text-base prose prose-neutral dark:prose-invert font-roboto"
    >
      <Header />
      <slot />
    </div>
  </body>
</html>
